table {
  font-family: auto;
  border-collapse: collapse;
  width: 100%;
}
th {
  border: 2px solid black;
  text-align: left;
  padding: 8px;
  background-color: brown;
}
td{
    border: 2px solid black;
  text-align: left;
  padding: 8px;
}
.even {
    background-color: aqua;
}
.odd{
    background-color: beige;
}
caption {
  font-size: 50px;
}
body {
  padding: 0px;
  margin: 0px;
}
.Employ {
  height: 246px;
  display: inline-block;
  width: 511px;
  border: 1px solid red;
  background-color: aqua;
  margin: 30px 0 0 30px;
  padding: 20px; 
}
