* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  .background {
    .content {
      .title {
        color: red;
        justify-content: center;
        display: flex;
      }
      .clock {
        display: flex;

        .hours {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 70px;
          width: 50px;

          label {
            background-color: red;
            height: 20px;
            width: 50px;
            justify-content: center;
            display: flex;
            color: white;
            border: 1px solid rebeccapurple;
          }
          .p1 {
            color: white;
            background-color: red;
            height: 50px;
            width: 50px;
            justify-content: center;
            display: flex;
            align-items: center;
            border: 1px solid rebeccapurple;
          }
        }
        .minutes {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 70px;
          width: 50px;
          .p2 {
            color: white;
            background-color: blueviolet;
            height: 50px;
            width: 50px;
            justify-content: center;
            display: flex;
            align-items: center;
            border: 1px solid rebeccapurple;
          }
          label {
            background-color: blueviolet;
            height: 20px;
            width: 50px;
            justify-content: center;
            display: flex;
            color: white;
            border: 1px solid rebeccapurple;
          }
        }
        .seconds {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 70px;
          width: 50px;
          .p3 {
            color: white;
            background-color: yellowgreen;
            height: 50px;
            width: 50px;
            justify-content: center;
            display: flex;
            align-items: center;
            border: 1px solid rebeccapurple;
          }
          label {
            background-color: yellowgreen;
            height: 20px;
            width: 50px;
            justify-content: center;
            display: flex;
            color: white;
            border: 1px solid rebeccapurple;
          }
        }
      }
    }
  }
  #demo {
    height: 20px;
    width: 150px;
    display: flex;
    justify-content: center;
  }
}
