.SVlist{
    height: 500px;
    width: 500px;
    background-color: aliceblue;
    display: inline-block;
    margin: 10px 0 0 10px;
    padding: 10px;
}
body{
    padding:0px;
    margin: 0px;
}
table{
    border-collapse: collapse;
    width: 100%;
    font-family: auto;
}

th,td{
    text-align: left;
    border: 2px solid black;
    padding: 10px;    
}
caption{
    font-weight: bold;
    font-size: 30px;
  }