img{
    height: 400px;
    width: 400px;
    display: block;
}
body{
    padding: 0px;
    margin: 0px;
    font-family: auto;
}
.bai4{
    margin: 100px 0 0 100px;
    height: 800px;
    width: 73%;
    text-align: center;
    background-color: #ed143d14;
    padding: 20px;
    border-radius: 10px;
}
.our_service{
    text-align: center;
}
.smart{
    display: inline-block;
    width: 400px;
    vertical-align: top;
    padding: 10px;
    height: 600px;
    margin: 2px;
    background-color: aqua;
}